/*

Manuscript Free Template
By Herreman David
http://www.free-css-templates.com

*/


* { padding: 0; margin: 0 }
body { margin:5px 0; padding:0; font: 100% Arial, Sans-Serif; color:#000; line-height: 1.4em; background : #575757;}
.content { color: #3B2A0A; margin: 0 auto; padding: 0; width: 825px; background: url(../images/bg2.jpg) repeat-y center bottom; }
#header { background: url(../images/header.jpg) no-repeat; width: 825px; height: 213px; color: #3B2A0A; }
/*#header h1 { background: inherit; font-family: 'Orbitron', sans-serif;
    color: #85621E; line-height: 2em; }
#header h3 { background: inherit; font-family: 'Dosis', sans-serif;
    color: #85621E; margin-bottom: 2ex; padding-bottom: 2ex;}*/
#header .title { padding: 60px 0 0 60px;}
#main { background: url(../images/bg.jpg) no-repeat top; /*height: 353px;*/ margin: 0; padding: 0 }
#main .center { width: 550px; float: right; padding: 0 60px 0 0px; }
#main h2 { background-color: inherit; color: #85621E; line-height: 1em; margin-bottom: 0.75ex;}
#main h3 { background-color: inherit; color: #85621E; line-height: 1em;
    margin-bottom: 0.75ex; }

.title {
    display: block;
}

.hero_title {
    background: inherit;
    font-family: 'Orbitron', sans-serif;
    color: #85621E;
    line-height: 2em;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0ex;
}

.hero_sub {
    background: inherit;
    font-family: 'Dosis', sans-serif;
    color: #85621E;
    padding-bottom: 2ex;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 6ex;
}

.search {
    font-family: 'Dosis', sans-serif; color: #85621E;
    font-size: small;
}

.leftmenu { width: 120px; float: left; padding: 0; padding: 0 0 0 40px; }
.padding { padding: 15px; }

.img { background: #FFF; float: left; padding: 1px; margin: 0.5em 1em 0.5em 0;
    color: #333; border: 1px solid #e0e0e0;
}

.hcolor {
    color: #85621E;
}

.shadow {
    box-shadow: 4px 4px 8px #000000;
    border: 1px;
    color: black;
    margin-bottom: 0.5ex;
}

.book_img {
    box-shadow: 4px 4px 8px #000000;
    margin: 1em 1em 1em 1em;
    border: 1px;
    color: black;
    vertical-align: middle;
    float:left;
}

.book_txt {
    margin-top: 3ex;
    vertical-align: middle;
}

/* PREFOOTER */
#prefooter { background: url(../images/prefooter.jpg) no-repeat; color: #85621f; height: 190px; text-align: left;  clear: both; padding: 0px; margin: 0; }
#prefooter .particles { float: right; width: 300px; padding: 20px 30px 0 0; background: transparent }
#prefooter .comments { width: 270px; padding: 20px 0px 0 0px; float: right; background: transparent }
#prefooter .stuff { margin-left:215px; background: transparent }

/* FOOTER */
#footer { background: url(../images/footer.jpg) no-repeat; color: #8f8f8f; height: 44px; text-align: right; font-size: 90%; clear: both; padding: 0; margin: 0;}
#footer .padding { padding: 20px 60px 0 0; }
#footer hr { width: 740px; color: #888; border: 1px solid #f0f0f0; margin: 0 25px 0 25px;  }
#footer a { 	color: #999;  text-decoration:none; }
#footer a:hover { text-decoration: underline; color: #FFF;}

/* NAVIGATION */
.nav { clear: both; text-align: left; color: #85621E; padding: 0 0 0 0; line-height: 90%;}
.nav ul { margin: 2em 0 0.75em 0; }
.nav li { font-weight: bold; margin: 0 0 0.75em 0; padding: 0 0 0 0.5em;  list-style: none;}
.nav li a { color: #546078; text-decoration: none; margin: 0 0 0.75em 0; }
.nav li a:hover { text-decoration: underline;  }


.boxads { background: #E7EDF0; padding: 5px; border: 1px solid #999; color: #333; }

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

p { 	margin: 0 0 1.5ex 0; 	padding: 0; /*color: #555;*/ background: inherit; }

hr { padding-top: 0px; margin-top: 5px; margin-bottom: 10px; padding-bottom: 0px; border: 0; height: 1px; color: #85621E; background-color: #85621E; }
a { 	color: #0F5B7F; background: inherit;  text-decoration:none; }
a:hover { 	background: inherit;	text-decoration: underline; }
h1 { padding:0; margin:0; background: inherit; color: #85621E; font-family: 'Dosis', sans-serif; letter-spacing: -1px; line-height: 1em; }
h1 a {color: #0F5BFF; background: inherit;}
h2 { background-color: inherit; 	color:#85621E; font-family: 'Dosis', sans-serif; font-size:140%; font-weight:bold; margin: 10px 0 0px 0; padding:0; line-height: 1em;}
h2 a { color: #85621E; }

h3 { font-family: 'Dosis', sans-serif; line-height: 1em;}

ul {
    margin-left: 0ex; padding : 0;
    margin-bottom: 1.5ex;
}
li { margin-left: 2em; padding : 0; }


li a { color: #546078;  }

ol {
    margin-top: 0.75ex;
    margin-left: 0ex; padding : 0;
    margin-bottom: 1.5ex;
}


blockquote {
    font-style: italic;
    margin-left: 2em;
    margin-top: 1.5ex;
    margin-bottom: 1.5ex;
    display: block;
    position: relative;
    padding: 0.25em 0.25em 0.25em 2.5em;
    color: black;
    border-left: 0.25em solid #555555;
}


pre {
    margin-bottom: 1.5ex;
}

.dlbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a.dlbutton:hover {
    background-color: #3C9F40;
    border: none;
    color: white;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book-cover-right {
    display: inline-block;
    float: right;
    margin: 0.5em 0.5em 0.5em 1em;
}